* {
  border-radius: 0;
  font-family: Noto Sans CJK SC, monospace;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  color: white;
}

#workspace button {
  padding: 0 5px;
  background: transparent;
  color: white;
}

#workspaces button:hover {
  background: rgba(0, 0, 64, 0.2);
  border-color: #33aacc;
}

#workspaces button.active {
  background-color: #44525D;
  color: #33ccff;
}

#workspaces button.urgent {
  background-color: #9b4d4b;
}

#cpu,
#memory,
#disk,
#battery,
#backlight,
#wireplumber,
#temperature,
#network,
#clock,
#window,
#workspaces {
  margin: 0 1rem;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery.charging {
  color: #22ff22;
}

#battery.plugged {
  color: #22ccff;
}

@keyframes blink {
  to {
    color: #f53c3c;
    font-weight: bold;
  }
}

#battery.critical:not(.charging) {
  color: #a53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#wireplumber.muted {
  color: #7f7f7f;
  font-weight: bold;
}

#temperature.critical {
  color: #eb4d4b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disabled {
  color: #7f7f7f;
  font-weight: bold;
}
